@import 'themes/vars.module';

.wrapper {
  @include flex('row', 'center');
}

.container {
  padding: 20px;
  width: 80%;
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
}
